<%= image_tag opinion.author.photo %>
<p><%= link_to opinion.author.fullname, user_path(opinion.author.id) %></p>
<p><%= opinion.text %></p>
<p>All comments:</p>

<% opinion.comments.each do |comment| %>
  <%= image_tag comment.user.photo %>
  <p><%= comment.user.username %>: <%= comment.text %></p>
  <span> <%= comment.created_at.strftime("%Y/%m/%d") %> </span>
  <span> <%= l comment.created_at %> </span>
<% end %>

<%= form_for(opinion.comments.new, url: opinion_comments_path(opinion)) do |form| %>
  <%= form.text_field :text, id: :comment_text, placeholder: 'Add new Comment' %>
  <%= form.submit 'Comment' %>
<% end %>
