<div class="opinions-section col-9">
  <div class="opinions-nav">
    <a href="#">TWEETS</a>
  </div>

  <%= form_for(@opinion, html: { class: "tweet-form rounded mt-4 p-3" }) do |f| %>
    <h3 class="mb-3">TWEET SOMETHING</h3>
    <div class="form-group">
    <%= f.text_field :text, class: "form-control", autofocus: true, placeholder: "Compose your tweet..." %>
    </div>
    <%= f.submit class: "d-none"%>
  <% end %>

  <div class="tweet-feed rounded mt-3 p-3">
    <h3 class="pb-3">ALL TWEETS</h3>
    <%= render @opinions %>
  </div>
</div>

<div class="right-section col">
  <div class="who-to-follow">
    <h3>WHO TO FOLLOW</h3>
    <div class="who-to-follow-content mt-4">
      <%= render @who_to_follow %>
    </div>
  </div>
</div>
