<%= link_to 'TWEETS', '#' %>
<%= link_to 'PHOTOS', '#' %>
<%= link_to 'FOLLOWING', '#' %>
<%= link_to 'FOLLOWERS', '#' %>
<%= link_to 'FAVORITES', '#' %>
<%= link_to 'LISTS', '#' %>

<h3 class="card-title border-bottom pb-3">TWEET TO <%= @user.fullname.upcase %></h3>
<%= form_for(@opinion) do |f| %>
  <%= f.text_field :text, autofocus: true, placeholder: "Write your opinion..." %>
  <%= f.submit %>
<% end %>

<h3>ALL TWEETS BY <%= @user.fullname.upcase %></h3>
<%= render @opinions %>

<div class="right-profile">
  <p><%= link_to @user.fullname, user_path(@user.id) %></p>
  <p>@<%= @user.username %></p>
  <%= followings_button(@user) %>
</div>