<%= link_to 'TWEETS', '#' %>
<%= link_to 'PHOTOS', '#' %>
<%= link_to 'FOLLOWING', '#' %>
<%= link_to 'FOLLOWERS', '#' %>
<%= link_to 'FAVORITES', '#' %>
<%= link_to 'LISTS', '#' %>

<h3>ALL TWEETS BY <%= @user.fullname.upcase %></h3>
<%= render @opinions %>

<div class="right-profile">
  <%= image_tag @user.photo %>
  <p><%= link_to @user.fullname, user_path(@user.id) %></p>
  <p>@<%= @user.username %></p>
  <%= followings_button(@user) %>

  <p><%= @user.opinions.count %> Tweets</p>
  <p><%= @user.followeds.count %> Following</p>
  <p><%= @user.followers.count %> Followers</p>

  <h4>FOLLOWED BY</h4>
    <% if @user.followers.none? %>
      <p>NO FOLLOWERS</p>
    <% else %>
      <% @user.followers.each do |follower| %>
      <p>
        <%= image_tag follower.photo %>
        <%= link_to follower.fullname, user_path(follower.id) %>
        @<%= follower.username %>
      </p>
      <%= followings_button(follower) %>
    <% end %>
  <% end %>

</div>