<div class="opinions-section col-9">
  <div class="cover-image-section">
    <%= image_tag  @user.cover_image, class: "cover-image"%>
  </div>
  <div class="opinions-nav opinions-nav-user">
    <%= link_to 'TWEETS', '#' %>
    <%= link_to 'FOLLOWING', '#' %>
    <%= link_to 'FOLLOWERS', '#' %>
  </div>

  <div class="tweet-feed rounded mt-3 p-3">
    <h3 class="pb-3">ALL TWEETS BY <%= @user.fullname.upcase %></h3>
    <%= render @opinions %>
  </div>
</div>

<div class="right-section right-profile col">
  <div class="profile-desc text-center">
    <div class="profile-photo d-flex justify-content-center align-items-center">
      <%= followings_button(@user) %>
      <%= image_tag @user.photo, class: "rounded-circle mx-2 my-4" %>
      <%= fa_icon "list" %>
    </div>
    <span><%= link_to @user.fullname, user_path(@user.id), class: "profile-fullname text-uppercase" %></span><br>
    <span class="profile-username">@<%= @user.username %></span>
    <div class="profile-desc-counts d-flex justify-content-around align-items-center text-center mt-2 py-2">
      <div class="profile-desc-count">
        <span class="profile-desc-counter"><%= @user.opinions.count %></span><br>
        <span>Tweets</span>
      </div>
      <div class="profile-desc-count profile-desc-count-center px-2">
        <span class="profile-desc-counter"><%= @user.followeds.count %></span><br>
        <span>Following</span>
      </div>
      <div class="profile-desc-count">
        <span class="profile-desc-counter"><%= @user.followers.count %></span><br>
        <span>Followers<span>
      <div>
    </div>
  </div></div></div>
  <div class="followed-by-section">
    <h3>FOLLOWED BY</h3>
    <% if @user.followers.none? %>
      <p>NO FOLLOWERS</p>
    <% else %>
      <% @user.followers.each do |follower| %>
        <div class="followed-by-person d-flex align-items-center my-1">
          <%= image_tag follower.photo, class: "mr-1" %>
          <div>
            <%= link_to follower.fullname, user_path(follower.id), class: "followed-by-fullname" %>
            <span>@<%= follower.username %></span>
          </div>
          <%= followings_button(follower) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
