<!DOCTYPE html>
<html>
  <head>
    <title>RorCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice.present? %>
      <p><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p><%= alert %></p>
    <% end %>

    <% if logged_in? %>
      <nav>
        <%= link_to current_user.fullname, user_path(current_user.id) %> 
        <p>Following: <%= current_user.followeds.count %></p>
        <p>Followers: <%= current_user.followers.count %></p>
        <%= link_to root_path do %>
          <%= fa_icon "home" %>
          <span>HOME</span>
        <% end %>
        <%= link_to root_path do %>
          <%= fa_icon "at" %>
          <span>CONNECT</span>
        <% end %>
        <%= link_to root_path do %>
          <%= fa_icon "hashtag" %>
          <span>DISCOVER</span>
        <% end %>
        <%= link_to user_path(current_user.id) do %>
          <%= fa_icon "user" %>
          <span>PROFILE</span>
        <% end %>
        <%= link_to root_path do %>
          <%= fa_icon "calculator" %>
          <span>STATISTCS</span>
        <% end %>
        <%= link_to sign_out_path, method: :delete do %>
          <%= fa_icon "sign-out" %>
          <span>SIGN OUT</span>
        <% end %>
      </nav>

      <header>
        <%= link_to root_path do %>
          <%= fa_icon "twitter" %>   
        <% end %>
        <%= link_to root_path do %>
          <%= fa_icon "pencil" %>   
        <% end %> 
        <%= link_to root_path do %>
          <%= fa_icon "envelope" %>
        <% end %>   
        <%= link_to root_path do %>
          <%= fa_icon "search" %>
        <% end %> 
        <%= link_to root_path do %>
          <%= fa_icon "cog" %>
        <% end %> 
      </header>

      
    <% end %>


    <%= yield %>
  </body>
</html>
