<!DOCTYPE html>
<html>
  <head>
    <title>RorCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice.present? %>
      <p><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p><%= alert %></p>
    <% end %>

    <% if logged_in? %>
      <nav>
        <%= link_to current_user.fullname, user_path(current_user.id) %> 
        <p>Following: <%= current_user.followeds.count %></p>
        <p>Followers: <%= current_user.followers.count %></p>
        <%= link_to "Home", root_path %>
        <%= link_to "Discover", root_path %>
        <%= link_to "Connect", root_path %>
        <%= link_to "Profile", user_path(current_user.id) %>
        <%= link_to "Statistics", root_path %>
        <%= link_to "Sign out", sign_out_path, method: :delete %>
      </nav>

      <header>
        HEADER
      </header>
    <% end %>


    <%= yield %>
  </body>
</html>
